
@model IEnumerable<DoAnNhom6.Models.NhanVien>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhMucNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DanhMucNhanVien</h1>

<p>
    <a asp-action="ThemNhanVienMoi" class="btn btn-primary">Create New</a>
   @*  <a href="@Url.Action("DownloadExcel", "HomeAdmin")" class="btn btn-primary">Download Excel</a> *@
    <a asp-action="DownloadExcelNV" class="btn btn-primary">Download Excel</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
        
           



            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }

            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>


                <td>
                    <a asp-action="ThemQuen" asp-route-id="@item.MaNv">Thêm Quyền</a> |
                    <a asp-action="Detail" asp-route-id="@item.MaNv">Details</a>  |
                    <a asp-action="SuaNV" asp-route-id="@item.MaNv">Sửa NV</a>

                </td>
            </tr>
        }
    </tbody>
</table>


